body {
    background-color: white;
    margin: 0 auto;
}

.gold-text h1, .gold-text h2, .gold-text h3, .gold-text h4, .gold-text h5 {
    color: #ffbd59;
}

.gold-text a {
    color: #ffbd59;
}

a:hover {
    opacity: 0.9;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #27475c;
    color: #ffbd59;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 50px;
    padding-right: 30px
}

.nav-link {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 22px;
    text-decoration: none;
}




.title-bar {
    background-color: #1f3849;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 15px;
}

.title-bar-content {
    width: 70%;
}

.page-heading {
    margin: 0;
    margin-bottom: 10px;
}

.page-heading {
    font-size: 60px;
}








.content {
    padding-left: 10%;
    padding-right: 10%;
}







.social-link {
    padding: 10px;
    background-color: white;
}

.email-link {
    color: #D44638;
}

.facebook-link {
    color: #3b5998;
}

.instagram-link {
    color: #e95950;
}