<head>
    <link rel="stylesheet" type="text/css" href="{{ page.relativity }}/css/styles.css">
</head>

<div class="navbar">
    <img class="logo" src="{{ page.relativity }}/res/logo.png">
    <a href="{{ page.relativity }}/" class="nav-link">Home</a>
    <a href="{{ page.relativity }}/about" class="nav-link">About Us</a>
    <a href="{{ page.relativity }}/blog" class="nav-link">Blog</a>
    <a href="{{ page.relativity }}/contact" class="nav-link">Contact Us</a>
</div>

<div class="content">
    <div class="home">
        {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}

        {{ content }}
    </div>
</div>