<head>
    <link rel="stylesheet" type="text/css" href="{{ page.relativity }}/css/styles.css">
    <link rel="shortcut icon" type="image/png" >
    <link rel="shortcut icon" href="{{ page.relativity }}/res/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ page.relativity }}/res/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEPi Sydney {{ page.action }}</title>
</head>

<div class="navbar gold-text">
    <a href="{{ page.relativity }}/" class="nav-link">
        <img class="logo" src="{{ page.relativity }}/res/logo.png">
    </a>
    <a href="{{ page.relativity }}/" class="nav-link">Home</a>
    <a href="{{ page.relativity }}/about" class="nav-link">About Us</a>
    <a href="{{ page.relativity }}/blog" class="nav-link">Blog</a>
    <a href="{{ page.relativity }}/contact" class="nav-link">Contact Us</a>
</div>
<div class="title-bar">
    <div class="title-bar-content gold-text">
        <div class="title-bar-text">
            {%- if page.title -%}
                <h1 class="page-heading">{{ page.title }}</h1>
                <h2>{{ page.subtitle }}</h2>
                {%- if page.relativity == "." -%}
                    <h2><a href="about">Learn More</a></h2>
                {%- endif -%}
            {%- endif -%}
        </div>
        {%- if page.relativity == "." -%}
            <div class="title-bar-image">
                <img class="big-logo" src="{{ page.relativity }}/res/logo.png">
            </div>
        {%- endif -%}
    </div>
</div>

<div class="content">
    {{ content }}
    <br/>
</div>