<head>
    <link rel="stylesheet" type="text/css" href="{{ page.relativity }}/css/styles.css">
    <link rel="shortcut icon" type="image/png" >
    <link rel="shortcut icon" href="{{ page.relativity }}/res/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ page.relativity }}/res/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEPi Sydney {{ page.action }}</title>
</head>
<div class="navbar">
    <a href="{{ page.relativity }}/">
        <img class="logo" src="{{ page.relativity }}/res/logo.png">
    </a>
    <div class="nav-links gold-text">
        <a href="{{ page.relativity }}/" class="nav-link">Home</a>
        <a href="{{ page.relativity }}/about" class="nav-link">About Us</a>
        <a href="{{ page.relativity }}/blog" class="nav-link">Blog</a>
        <a href="{{ page.relativity }}/contact" class="nav-link">Contact Us</a>
    </div>
</div>
<div class="title-bar">
    <div class="title-bar-content gold-text">
        <div class="title-bar-text">
            <h1 class="page-heading">Blog</h1>
            <h2>Get the latest updates from the ΩZA Colony</h2>
        </div>
    </div>
</div>

<div class="content">
    <div class="blog-card blog-card-bottomless">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>{{ page.date | date: date_format }}</h3>
      <div class="blog-image" style="background-image: url({{ page.image }})"></div>
      <div class="blog-text">
        <a href="{{ page.url }}" class="blog-title"><h1>{{ page.title }}</h1></a>
        <p>{{ page.body }}</p>
      </div>
    </div>
    <br/>
</div>